@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Thin.ttf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.ttf');
    font-weight: bold;
    font-style: normal;
}

.nav-btn, .nav-btn:link {
    color: black;
    text-decoration: none;
}

#logout, #logout:link {
    color: red;
    text-decoration: none;
}

.nav-btn:hover {
    color: black;
    font-size: 2.9835rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.nav-btn-sel {
    font-weight: bold;
}

#logout:hover {
    color: darkred;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.log-reg-form {
    position: absolute;
    display: block;
    top: 30%;
    left: 50%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    text-align: center;
    font-size: 1.2rem;
}

.log-reg-form input::placeholder {
    text-align: center;
}

.log-reg-form input {
    text-align: center;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

#copyright {
    background-image: url('bg-footer.jpg');
    background-size: 100%;
    background-position: top left;
    margin-top: 8px;
}

#welcome {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.footer-nav-link, .footer-nav-link:link {
    display:inline-block;
    padding: 10px;
    margin: 1px;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

#newsletter-text, #newsletter-input {
    font-weight: 600;
    font-size: 1.5rem;
}

#newsletter-text {
    display:inline-block;
    margin-top: 10px;
}

#newsletter-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 15px;
}

#footer-nav {
    padding-left: 40px;
}

.footer-nav-link:hover {
    color: black;
    background-color: lightgrey;
}

.arrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-bottom: -5px;
    padding: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow:hover {
    border-color: black;
    border-width: 0 4px 4px 0;
    cursor: pointer;
}

.fab, .fab:link {
    padding-top: 30px;
    padding-right: 10px;
    text-decoration: none;
    color: gray;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-github-square:hover {
color: #211F1F;
}

.fa-linkedin:hover {
    color: #0077B5;
}

/* .col {
    border: 5px solid red;
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* .main-container {
    border: 5px solid blue;
}

footer, header {
    border: 5px solid green;
} */

.main-container {
    height: auto; 
    display: block;
    position: relative;
}

footer {
    background-image: url('bg-footer.jpg');
    background-size: cover;
    background-position: bottom;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 0;
    display: block;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    /* background-color: gray; */
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

header .container-fluid {
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.main-posts {
    width: 150px;
    height: 300px;
    overflow: hidden;
    border: 1px solid red;
    width: 100% !important;
    height: 200px;
    page-break-inside: avoid;
}

#posts {
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           5px;  

    border: 1px solid green;
    

    
}
