@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Thin.ttf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.ttf');
    font-weight: bold;
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* FOOTER */

#copyright {
    background-image: url('bg-footer.jpg');
    background-size: 100%;
    background-position: top left;
    margin-top: 8px;
}

.footer-nav-link, .footer-nav-link:link {
    display:inline-block;
    padding: 10px;
    margin: 1px;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: normal;
}

#newsletter-text, #newsletter-input {
    font-weight: 600;
    font-size: 1.5rem;
}

#newsletter-text {
    display:inline-block;
    margin-top: 10px;
}

#newsletter-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-weight: normal;
    font-size: 1.1rem;
    margin-top: 15px;
}

#footer-nav {
    padding-left: 40px;
}

.footer-nav-link:hover {
    color: black;
    background-color: lightgrey;
}

.arrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-bottom: -5px;
    padding: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow:hover {
    border-color: black;
    border-width: 0 4px 4px 0;
    cursor: pointer;
}

.fab, .fab:link {
    padding-top: 30px;
    padding-right: 10px;
    text-decoration: none;
    color: gray;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-github-square:hover {
    color: #211F1F;
}

.fa-linkedin:hover {
    color: #0077B5;
}

footer {
    background-image: url('bg-footer.jpg');
    background-size: cover;
    background-position: bottom;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: block;
}

#footer {
    flex-shrink: 0;
}

/* FOOTER */
/* LOGREG */

.log-reg-form {
    position: absolute;
    display: block;
    top: 30%;
    left: 50%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    text-align: center;
    font-size: 1.2rem;
}

.log-reg-form input::placeholder {
    text-align: center;
}

.log-reg-form input {
    text-align: center;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* LOGREG */
/* MAIN */

main {
    height: auto; 
    display: block;
    position: relative;
    flex: 1 0 auto;
}

.main-post {
    background-image: url('bg-footer.jpg');
    background-size: cover;
    background-position: bottom;
    border: 3px solid lightgray;
    border-radius: 5px;
    width: 100%;
    height: 410px;
    page-break-inside: avoid;
    overflow: hidden;
}

.main-post:hover {
    opacity: 0.5;
    cursor: pointer;
}

.main-body {
    height: 200px;
    overflow: hidden;
    background-color: lightblue;
}


#main-container {
    border: 1px solid green;
    margin: 15px 0 30px 0;
}

hr {
    margin: 2px;
}

.post-img {
    width: 100%;
    height: auto;
}

/* MAIN */
/* HEADER */

#hi {
    font-weight: normal;
    font-size: 1.6rem;

}

.nav-btn-sel {
    font-weight: normal;
}

header .container-fluid {
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

#dropdownMenuLink {
    color: black;
    text-decoration: none;
}

.dropdown-menu {
    transform: none !important;
    background-color: rgb(75, 75, 75) !important;
    padding: 0 !important;
    border-radius: 0px 0px 0px 0px !important;
    right: 0px !important;
    border: none !important;
    float: right !important;
    left: auto !important;
    margin: 0 !important;
    top: auto !important;
}

.dropdown-item {
    font-size: 1.6rem;
    color: lightgray !important;
    font-weight: bold !important;
}

.dropdown-item:hover {
    background-color: rgb(99, 99, 99) !important;
    color: lightgray !important;
}

.dropdown-divider {
    margin: 0 !important;
}

.line {
    display: none; 
}

.name:hover ~ .line {
    position: absolute;
    display: block;
    border: 1px solid rgb(75, 75, 75);
    width: 162px;
    right: 0;
}

.nav-btn, .nav-btn:link {
    color: black;
    text-decoration: none;
}

.nav-btn:hover {
    color: black;
    font-size: 2.9835rem;
    font-weight: bold;
}

/* HEADER */

